html {
    background: #9ab;
}
body {
    color: #005;
    font-family: monospace;
}
.wrap {
    max-width: 50rem;
    margin: 1rem auto;
}
article {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
main, aside {
    background: #bcd;
    padding: 1rem;
    border: 5px solid #abc;
}
main {
}
aside table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
aside table td, aside table th{
    text-align: left;
    border: 1px solid #aaa;
    padding: 0.2rem 0.5rem;
}
h1 {
    border: 5px solid #cde;
    background: #def;
    text-align: center;
}
