<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>VOTING</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="wrap">
        <article>
            <main>
                {% block main %}
                {% endblock %}
            </main>
        </article>
    </div>
</body>
</html>