<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>VOTING</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Du hast gewählt >:3</h1>
    <a href="../idk/">Zurück</a>
</body>